<?xml version='1.0' encoding='utf-8'?>
<widget id="be.tripleclick.hagelandapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>hageland</name>
    <description>
        hageland app
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        tripleclick
    </author>
    <content src="login.html" />
    <preference name="phonegap-version" value="cli-6.3.1" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    
    <plugin name="phonegap-plugin-push" spec="1.8.4">
        <variable name="SENDER_ID" value="85075801930" />
    </plugin>
    
    <plugin name="cordova-plugin-console" source="npm" spec="~1.0.2" />
    <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1" />
    <plugin name="cordova-plugin-device-motion" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-device-orientation" source="npm" spec="~1.0.2" />
    <plugin name="cordova-plugin-file" source="npm" spec="~4.1.1" />
    <plugin name="cordova-plugin-globalization" source="npm" spec="~1.0.3" />
    <plugin name="cordova-plugin-vibration" source="npm" spec="~2.1.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.2" />
    <plugin name="cordova-plugin-statusbar" spec="~2.2.2" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.2" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.2" />
    <plugin name="cordova-plugin-media" spec="~3.0.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.7.0" />
    <plugin name="cordova-plugin-geolocation" spec="~2.4.2" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.6.2" />
    <plugin name="cordova-plugin-dialogs" spec="~1.3.2" />
    <plugin name="cordova-plugin-contacts" spec="~2.3.0" />
    <plugin name="cordova-plugin-media-capture" spec="~1.4.2" />
    <plugin name="cordova-plugin-camera" spec="~2.4.0" />
    <plugin name="cordova-plugin-battery-status" spec="~1.2.3" />
    <plugin name="phonegap-plugin-barcodescanner" spec="~6.0.6" />



    <icon src="icon.png" />
    <splash src="splash.png" />

   
    <platform name="ios">
        <icon src="res/icons/ios/icon-small.png" width="29" height="29" />
        <icon src="res/icons/ios/icon-small-2x.png" width="58" height="58" />
        <icon src="res/icons/ios/icon-40.png" width="40" height="40" />
        <icon src="res/icons/ios/icon-40-2x.png" width="80" height="80" />
        <icon src="res/icons/ios/icon-50.png" width="50" height="50" />
        <icon src="res/icons/ios/icon-50-2x.png" width="100" height="100" />
        <icon src="res/icons/ios/icon.png" width="57" height="57" />
        <icon src="res/icons/ios/icon-2x.png" width="114" height="114" />
        <icon src="res/icons/ios/icon-60.png" width="60" height="60" />
        <icon src="res/icons/ios/icon-60-2x.png" width="120" height="120" />
        <icon src="res/icons/ios/icon-60-3x.png" width="180" height="180" />
        <icon src="res/icons/ios/icon-72.png" width="72" height="72" />
        <icon src="res/icons/ios/icon-72-2x.png" width="144" height="144" />
        <icon src="res/icons/ios/icon-76.png" width="76" height="76" />
        <icon src="res/icons/ios/icon-76-2x.png" width="152" height="152" />

        <splash src="res/screens/ios/screen-iphone-portrait.png" width="320" height="480" />
        <splash src="res/screens/ios/screen-iphone-portrait-2x.png" width="640" height="960" />
        <splash src="res/screens/ios/screen-iphone-portrait-568h-2x.png" width="640" height="1136" />
        <splash src="res/screens/ios/screen-iphone-portrait-667h.png" width="750" height="1334" />
        <splash src="res/screens/ios/screen-iphone-portrait-736h.png" width="1242" height="2208" />
        <splash src="res/screens/ios/screen-ipad-portrait.png" width="768" height="1024" />
        <splash src="res/screens/ios/screen-ipad-portrait-2x.png" width="1536" height="2048" />
    </platform>

    <platform name="android">
        <icon qualifier="ldpi" src="res/icons/android/icon-36-ldpi.png"/>
        <icon qualifier="mdpi" src="res/icons/android/icon-48-mdpi.png"/>
        <icon qualifier="hdpi" src="res/icons/android/icon-72-hdpi.png"/>
        <icon qualifier="xhdpi" src="res/icons/android/icon-96-xhdpi.png"/>
        <icon qualifier="xxhdpi" src="res/icons/android/icon-144-xxhdpi.png"/>
        <icon qualifier="xxxhdpi" src="res/icons/android/icon-192-xxxhdpi.png"/>

        <splash qualifier="ldpi" src="res/screens/android/screen-ldpi-portrait.png" />
        <splash qualifier="mdpi" src="res/screens/android/screen-mdpi-portrait.png" />
        <splash qualifier="hdpi" src="res/screens/android/screen-hdpi-portrait.png" />
        <splash qualifier="xhdpi" src="res/screens/android/screen-xhdpi-portrait.png" />
    </platform>

    <platform name="wp8">
        <icon src="res/icons/wp8/ApplicationIcon.png" width="99" height="99" />
        <icon src="res/icons/wp8/Background.png" width="159" height="159" />
    </platform>

    <platform name="windows">
        <icon src="res/icons/windows8/logo.png" width="150" height="150" />
        <icon src="res/icons/windows8/smalllogo.png" width="30" height="30" />
        <icon src="res/icons/windows8/storelogo.png" width="50" height="50" />
    </platform>

   
   	<access origin="*"></access>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
	<allow-intent href="data:*" />
	
	<allow-navigation href="http://*/*" />
	<allow-navigation href="https://*/*" />
	<allow-navigation href="data:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>


	
</widget>
