#overlay {	
	display: none;
	overflow-y:auto;	
	position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(255, 255, 255, 0.85);
    z-index:9998;
    color:rgba(288, 0, 4, 1);
	text-align:center;
}

#overlay i{	
	margin:0 auto;
    margin-top: 20%;
    font-size: 50px;

}