#overlay {	
	display: none;
	overflow-y:auto;	
	position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(288, 0, 4, 0.55);
    z-index:9998;
    color:white;
}

#overlay i{	
	margin-left: 50%;
    margin-top: 20%;
    font-size: 50px;

}